
.accordionBox{  
    border: 1px solid black;
    border-radius: 15px;
    background-color: transparent;   
}
.accordionBox{
    &[data-active]{
    border: 1px solid black;
    border-radius: 15px;
    background-color:rgba(234, 218, 255,0.5);
    background-blend-mode: multiply;
    }
}
.accordionContent{
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    color: rgba(0, 0, 0, 0.6);
}

@media (min-width: 640px) {
    .accordionBox{
        margin: calc(0.5rem* var(--mantine-scale)) !important;
        padding: calc(0.625rem* var(--mantine-scale));
    }
    .accordionPanel{
        font-family: "Neue Montreal";
        font-size: 17px;
        color: black;
        opacity: 70%;
        /* background-color: yellow; */
        /* background-color: #EADAFF; */
    }
    .controlBox1{
        font-family: 'Neue Montreal Bold';
        font-size: 12px;
        padding: 10px;

        }
        .controlBox2{
            font-family: 'Neue Montreal Bold';
            font-size: 12px;
            padding: 7px;

            }
}
    @media only screen and (min-width: 1440px) {
        .controlBox1{
            font-family: 'Neue Montreal Bold';
            font-size: 24px;
            font-weight: 200;
            padding: 10px;
            }
            .controlBox2{
                font-family: 'Neue Montreal Bold';
                font-size: 24px;
                font-weight: 200;
                padding: 10px;
                }
            .accordionPanel{
                font-family: "Neue Montreal";
                font-size: 17px;
                color: black;
                opacity: 70%;
                /* background-color: yellow; */
                /* background-color: #EADAFF; */
            }
            .accordionBox{
                margin:18px;
                padding:10px;
            }
    }   
    @media only screen and (min-width: 1024px) {
        .controlBox1{
            font-family: 'Neue Montreal Bold';
            font-size: 18px;
            padding: 10px;

            }
            .controlBox2{
                font-family: 'Neue Montreal Bold';
                font-size: 18px;
                padding: 7px;
    
                }
            .accordionWrap{
                width: 100%;
            }
            .accordionPanel{
                font-family: "Neue Montreal";
                font-size: 17px;
                color: black;
                opacity: 70%;
                /* background-color: yellow; */
                /* background-color: #EADAFF; */
            }
    }
    @media only screen and (max-width: 639px) {
        .controlBox1{
            font-family: 'Neue Montreal Bold';
            font-size: 16px;
            font-weight:bolder;
            color: black;
            padding: 0px 10px;
            }
            .controlBox2{
                font-family: 'Neue Montreal Bold';
                font-size: 16px;
                font-weight:bolder;
                color: black;
                padding: 0px 10px;
                }
        .accordionWrap2{
            margin-top: -20px;
        }
        .accordionBox{
            margin:15px;
            padding:10px; 
            border: 1px solid black;
            border-radius: 10px;
            background-color: transparent; 
        }
        .accordionBox{
            &[data-active]{
            border: 1px solid black;
            border-radius: 10px;
            background-color:rgba(234, 218, 255,0.5);
            background-blend-mode: multiply;
            }
        }
        .accordionPanel{
            font-family: 'Neue Montreal';
            font-size: 14px;
            color: black;
            opacity: 70%;
            /* background-color: yellow; */
            /* background-color: #EADAFF; */
        }
    }