
.accordionBox{
    border: 1px solid black;
    border-radius: 20px;
    background-color: transparent;
}
.accordionPanel{
    font-family: "Neue Montreal";
    font-size: 17px;
    color: black;
    opacity: 70%;
    /* background-color: #EADAFF; */
}
    @media only screen and (min-width: 1440px) {
        .controlBox{
            font-family: "Neue Montreal";
            font-size: 24px;
            font-weight: bold;
            padding: 10px;
            }
            .accordionWrap{
                width: 500px;
            }
    }   
    @media only screen and (min-width: 1024px) {
        .controlBox{
            
            font-family: "Neue Montreal";
            font-size: 18px;
            font-weight: bold;
            }
            .accordionWrap{
                width: 400px;
            }
    }
    @media only screen and (max-width: 639px) {}