.formWrap{
    font-family: "Neue Montreal";
    font-weight: 500;
}

.transparentInput{
    background-color: transparent;
}
.transparentInput::placeholder{
    color:red;
}
.inputLabel{
    color: yellow;
}

/* .formInput input &:placeholder {
    color: var(--mantine-color-red-5);
  }  */

  @media only screen and (max-width: 640px) {
    .formButton {
        height: 40px;
        min-width: 275px;
    }
}
