@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'vina-sans';
  src: url('/assets/fonts/VinaSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/assets/fonts/NeueMontreal-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'Neue Montreal Bold';
  src: url('/assets/fonts/NeueMontreal-Bold.otf') format('truetype');
}

.careers-subhead,.page-subhead{
  font-family:'Neue Montreal Bold' ;
}
.page-heading{
  font-family: 'vina-sans', sans-serif;
}
.footer-findus{
  font-family: "Neue Montreal";
  font-weight: bold;
}
.content-neue,.carousel,.emoji-content ,.bulding-blocks,.error-page,.footer-address {
  font-family: "Neue Montreal";

}
.content-neue-medium ,.careers-box,.button-store ,.footer-content{
  font-family: "Neue Montreal";
  font-weight:600;
}


body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}
h1{
  margin: 0px;
  padding: 0px;
}

.bg-img {
  background: #fffced url(/assets/images/home_page/background-new.svg) no-repeat center/cover;
  width: 100%;
  background-attachment: fixed;
}
.footer-ul li{
  padding-bottom: 15px;
  cursor: pointer;
}
.footer-section{
  color:black
}

.button-text{
  color: black;
}

/* 404_page */

.back-home{
  border: 2px solid;
  border-color: #DE033E;
  color: #DE033E;
  border-radius: 1.875rem;
}
.back-home:hover{
  background-color: #DE033E;
  color:#FFFDEE;
  border-radius: 1.875rem;
}

/* contact-page css */

.contact-text{
  color: #A87956;
}
/* careers-page css */
.career-btn{
  color: #FFFDEE;
}

/* join-our-klan page css */

.instagram-img {
  background-color: #FE31EE; /* Background color */
  /* background-image: url(/assets/images/home_page/background-new.svg); /* Background image */
  /* background-blend-mode: multiply; Blend mode */ 
  background-size: cover;
}

.whatsapp-img{
  background-color: rgba(79,255,79);
}
.linkdin-img{
  background-color: rgba(73,93,245);
  color: #FFFCEE;
}
.JOK-content{
  color:#FE31EE
}

/* events page */
.upcoming-box:hover{
  background-color: #DFE5FF;
  transform: scale(1.1);
}

.upcoming-box,.past-box {
  transition: transform 0.5s ease-in-out;
}
.upcoming-box:hover .upcoming-sub {
  background-color: black;
  color: white;
}
.upcoming-box:hover .upcoming-arrow {
  background-color: black;
  color: white;
}

.past-box:hover{
  background-color: #F1E9C3;
  transform: scale(1.1);
}

.past-box,.past-box {
  transition: transform 0.5s ease-in-out;
}
.past-box:hover .past-sub {
  background-color: black;
  color: white;
}
.past-box:hover .past-arrow {
  background-color: black;
  color: white;
}

/* partner with us */

.partner-text{
  color:#3C9E3C;
}