@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'vina-sans';
  src: url('/assets/fonts/VinaSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/assets/fonts/NeueMontreal-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'Neue Montreal Bold';
  src: url('/assets/fonts/NeueMontreal-Bold.otf') format('truetype');
}

.careers-subhead,.page-subhead{
  font-family:'Neue Montreal Bold' ;
}
.page-heading, .heading{
  font-family: 'vina-sans', sans-serif;
}
.footer-findus, .content{
  font-family: "Neue Montreal";
  font-weight: bold;
}
.content-neue,.carousel,.emoji-content ,.bulding-blocks,.error-page,.footer-address {
  font-family: "Neue Montreal";

}
.content-neue-medium ,.careers-box,.button-store ,.footer-content{
  font-family: "Neue Montreal";
  font-weight:600;
}


body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}
h1{
  margin: 0px;
  padding: 0px;
}

.bg-img {
  background: #fffced url(/assets/images/home_page/background-new.svg) no-repeat center/cover;
  width: 100%;
  background-attachment: fixed;
}
.footer-ul li{
  padding-bottom: 15px;
  cursor: pointer;
}
.footer-section{
  color:black
}

.button-text{
  color: black;
}

/*loader css */
.loaderMainDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 }
 
 

/* 404_page */

.back-home{
  border: 2px solid;
  border-color: #DE033E;
  color: #DE033E;
  border-radius: 1.875rem;
}
.back-home:hover{
  background-color: #DE033E;
  color:#FFFDEE;
  border-radius: 1.875rem;
}

/* contact-page css */

.contact-text{
  color: #A87956;
}
/* careers-page css */
.career-btn{
  color: #FFFDEE;
}

/* join-our-klan page css */

.instagram-img {
  background-color: #EAA2CD; 
  background-size: cover;
}

.whatsapp-img{
  background-color: #9DE29D;
}
.linkdin-img{
  background-color: #A0A9EB;
  color: #FFFCEE;
}
.JOK-content{
  color:#A0A9EB
}

/* events page */

@media (min-width: 640px) and (max-width: 1279px){
  .upcoming-box:hover{
    background-color: #DFE5FF;
    transform: scale(1.1);
  }
  
  .upcoming-box,.past-box {
    transition: transform 0.5s ease-in-out;
  }
  .upcoming-box:hover .upcoming-sub {
    background-color: black;
    color: white;
  }
  .upcoming-box:hover .upcoming-arrow {
    background-color: black;
    color: white;
  }
  
  .past-box:hover{
    background-color: #F1E9C3;
    transform: scale(1.1);
  }
  
  .past-box,.past-box {
    transition: transform 0.5s ease-in-out;
  }
  .past-box:hover .past-sub {
    background-color: black;
    color: white;
  }
  .past-box:hover .past-arrow {
    background-color: black;
    color: white;
  }
}
@media only screen and (min-width: 1280px){
  .upcoming-box:hover{
    background-color: #DFE5FF;
    transform: scale(1.1);
  }
  
  .upcoming-box,.past-box {
    transition: transform 0.5s ease-in-out;
  }
  .upcoming-box:hover .upcoming-sub {
    background-color: black;
    color: white;
  }
  .upcoming-box:hover .upcoming-arrow {
    background-color: black;
    color: white;
  }
  
  .past-box:hover{
    background-color: #F1E9C3;
    transform: scale(1.1);
  }
  
  .past-box,.past-box {
    transition: transform 0.5s ease-in-out;
  }
  .past-box:hover .past-sub {
    background-color: black;
    color: white;
  }
  .past-box:hover .past-arrow {
    background-color: black;
    color: white;
  }
}
@media only screen and (min-width: 1440px){
  .upcoming-box:hover{
    background-color: #DFE5FF;
    transform: scale(1.1);
  }
  
  .upcoming-box,.past-box {
    transition: transform 0.5s ease-in-out;
  }
  .upcoming-box:hover .upcoming-sub {
    background-color: black;
    color: white;
  }
  .upcoming-box:hover .upcoming-arrow {
    background-color: black;
    color: white;
  }
  
  .past-box:hover{
    background-color: #F1E9C3;
    transform: scale(1.1);
  }
  
  .past-box,.past-box {
    transition: transform 0.5s ease-in-out;
  }
  .past-box:hover .past-sub {
    background-color: black;
    color: white;
  }
  .past-box:hover .past-arrow {
    background-color: black;
    color: white;
  }
}


/* partner with us */

.partner-text{
  color:#3C9E3C;
}

/* Upcoming events main page */

.upcoming-btn{
  background-color: #3C9E3C;
  color: #FFFDEE;
}
/* Careers Empty */

.oops-text{
  color: #39DF39;
}
.careers-link{
  color: #0B26EF;
  text-decoration: underline;
}

/* About Community */

@media only screen and (min-width : 639px){
  
.box1{
  background-color: #EAA2CD;
  border: 1px solid #2A2A2A;
  border-radius: 15px;
  
}
.box1:hover{
  background-color: #2A2A2A;
  color: #EAA2CD;
  border: 1px solid #2A2A2A;
  border-radius: 15px;
}

.box2{
  background-color: #A0A9EB;
  border: 1px solid #2A2A2A;
  border-radius: 15px;
}
.box2:hover{
  background-color: #2A2A2A;
  color: #A0A9EB;
  border: 1px solid #2A2A2A;
  border-radius: 15px;
}

.box3{
  background-color: #9DE29D;
  border: 1px solid #2A2A2A;
  border-radius: 15px;
}
.box3:hover{
  background-color: #2A2A2A;
  color: #9DE29D;
  border: 1px solid #2A2A2A;
  border-radius: 15px;
}

.box4{
  background-color: #FFFBA8;
  border: 1px solid #2A2A2A;
  border-radius: 15px;
}
.box4:hover{
  background-color: #2A2A2A;
  color: #FFFBA8;
  border: 1px solid #2A2A2A;
  border-radius: 15px;
}
.JOK-btn{
  background-color: #2A2A2A;
  color:#FFFBA8 ;
  border-radius: 40px;
  text-align: center;
}
.box4:hover .JOK-btn{
  background-color:#FFFBA8;
  color:black ;
  border-radius: 40px;
  text-align: center;
}
.box4:hover .playstore{
  content: url(../public/assets/images/about_community/playstore-yellow.svg);
}
.box4:hover .appstore{
  content: url(../public/assets/images/about_community/appstore-yellow.svg);
}
} 

.JOK-btn{
  background-color: #2A2A2A;
  color:#FFFBA8 ;
  border-radius: 40px;
  text-align: center;
}

@media only screen and (max-width: 639px){
  .box1{
    background-color:#EAA2CD;
    border-radius: 10px;

  }
  
  .box2{
    background-color: #A0A9EB;
    border-radius: 10px;
  }
  
  .box3{
    background-color: #9DE29D;
    border-radius: 10px;
  }
  
  .box4{
    background-color: #FFFBA8;
    border-radius: 10px;
  }
  .JOK-btn{
    background-color: #2A2A2A;
    color:#FFFBA8 ;
    border-radius: 40px;
    text-align: center;
  }
}

/* about kreatr */

.dictonary-link{
  color: #FD03E9;
  text-decoration:underline;
}
.kreatr-btn{
  color: #FFFCEE;
}

@media only screen and (min-width : 639px){
  .kreatr-box1{
    color: #2A2A2A;
    background-color: #EAA2CD;
    border: 1px solid #2A2A2A;
    border-radius: 15px;
  }
  .kreatr-box1:hover{
    background-color: #2A2A2A;
    color: #EAA2CD;
    border: 1px solid #2A2A2A;
    border-radius: 15px;
  }
  .kreatr-box2{
    background-color: #A0A9EB;
    color: #2A2A2A;
    border: 1px solid #2A2A2A;
    border-radius: 15px;
  }
  .kreatr-box2:hover{
    background-color: #2A2A2A;
    color: #A0A9EB;
    border: 1px solid #2A2A2A;
    border-radius: 15px;
  }
}

@media only screen and (max-width: 639px){
  .kreatr-box1{
    background-color:#EAA2CD;
    border-radius: 15px;
  }
  
  .kreatr-box2{
    background-color: #A0A9EB;
    border-radius: 15px;
  }
  .kreatr-container{
    align-items: center;
  }
}

.join-team-btn{
  background-color: #DA2465;
  color: #D9D9D9;
}

.position-people{
  color: #FE3131;
}

/* blog page css */


/* styles.module.css */

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.first-column {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 20px;
}

.second-column {
  grid-column: 2 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 20px;
}

/* legal page css */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.legal_page_h{
  font-size: 1.25rem;
  font-weight: 800;
}

/* events past main page testimonials section */

/* Add this to your globals.css or in the component's CSS if you prefer */

/* globals.css */

/* globals.css */

.carousel-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide overflowing content */
}

.carousel-inner {
  display: flex;
  transform: translateX(calc(-33.33% * var(--current-index, 0)));
}

.carousel-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  background-color: #F1E9C3;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.center-item {
  height: 283px;
  width: 468px;
}

.side-item {
  height: 187px;
  width: 310px;
  opacity: 0.7;
}

/* bug report form */

.bug-color-change:hover {
  content: url(/assets/images/home_page/bug-pink.svg);
}

