.notActiveTab {
    border: 1px solid #2A2A2A;
    background-color: transparent;
    color: #2A2A2A;
    font-family: 'Neue Montreal';
    font-size: 16px;
    padding: 12px 24px;
    margin-right: 8px;
  }
  
  .activeTab {
    border: none;
    background-color: #2A2A2A;
    color: #FFFCEE;
    font-family: 'Neue Montreal';
    font-size: 16px;
    padding: 12px 24px;
    margin-right: 8px;
  }
  