
  

  @media (min-width: 1700px) and (max-width:3000px){
.aboutKreatrContent{
  margin-right:300px ;
}

.paraMargin{
  margin-right: 300px;
}
.paraMargin1{
  margin-right: 100px;
}

.buttonBig{
  margin-right: 300px;
}
.howWeAre{
  padding: 0px;
}

}