.cardContainer {
  perspective: 1000px;
  margin: 20px;
}

.card {
  width: 290px;
  height: 250px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flipped {
  transform: rotateY(180deg);
}

.cardFront, .cardBack {
  position: absolute;
  backface-visibility: hidden;
}

.cardBack {
  transform: rotateY(180deg);
}

.cardBackContent {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 250px;
  width: 290px;
  padding: 30px;
  background-color: #2A2A2A;
  border-radius: 10px;
}

.btnPeople{
  background-color: #DA2465;
  color: #D9D9D9;
  padding-top: 8px;
  margin-top: 10px;
  border-radius: 30px;
}