.cardFront1{
  background-color:#B8B8B8 ;
}
.cardFront2{
  background-color:#E08790 ;
}
.cardFront3{
  background-color:#FF8F91 ;
}
.cardFront4{
  background-color:#A3D7E3 ;
}
.cardFront5{
  background-color:#FFA8CB ;
}
.cardFront6{
  background-color:#A09F9D ;
}
.cardFront7{
  background-color:#FFB2C8 ;
}
.cardFront8{
  background-color:#A3D7E3 ;
}
.cardFront9{
  background-color:#FFEEB2 ;
}

/* mob screen */
@media only screen and (max-width: 639px){

  .cardContainer {
    perspective: 1000px;
    margin: 10px;
  }
  
  .card {
    width: 149px;
    height: 132px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .flipped {
    transform: rotateY(180deg);
  }
  
  .cardFront1,.cardFront2,.cardFront3,.cardFront4,.cardFront5,.cardFront6,.cardFront7,.cardFront8,.cardFront9,.cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }

  
  .cardBack {
    height:132px ;
    width:149px ;
    background: #2A2A2A;
    color: #D9D9D9;
    transform: rotateY(180deg);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cardBackContent {
    text-align: center;
  }
}
/* sm-md screen */
@media (min-width: 640px) and (max-width: 1279px){

  .cardContainer {
    perspective: 1000px;
    margin: 10px;
  }
  
  .card {
    width: 180px;
    height: 140px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .flipped {
    transform: rotateY(180deg);
  }
  
  .cardFront1,.cardFront2,.cardFront3,.cardFront4,.cardFront5,.cardFront6,.cardFront7,.cardFront8,.cardFront9,.cardBack   {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
  
  
  .cardBack {

    height:140px ;
    width:180px ;
    background: #2A2A2A;
    color: #D9D9D9;
    transform: rotateY(180deg);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cardBackContent {
    text-align: center;
  }
}
/* lg screen */
@media only screen and (min-width: 1280px){
  
.cardContainer {
  perspective: 1000px;
  margin: 10px;
}

.card {
  width: 230px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
  border-radius: 10px;
}

.flipped {
  transform: rotateY(180deg);
}

.cardFront1,.cardFront2,.cardFront3,.cardFront4,.cardFront5,.cardFront6,.cardFront7,.cardFront8,.cardFront9,.cardBack  {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}


.cardBack {
  height:200px ;
  width:230px ;
  background: #2A2A2A;
  color: #D9D9D9;
  transform: rotateY(180deg);
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardBackContent {
  text-align: center;
}
}

/* xl screen */
@media only screen and (min-width: 1440px){
  
.cardContainer {
  perspective: 1000px;
  margin: 10px;
}

.card {
  width: 256px;
  height: 226px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
  border-radius: 10px;
}

.flipped {
  transform: rotateY(180deg);
}

.cardFront1,.cardFront2,.cardFront3,.cardFront4,.cardFront5,.cardFront6,.cardFront7,.cardFront8,.cardFront9,.cardBack  {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.cardBack {
  height:226px ;
  width:256px ;
  background: #2A2A2A;
  color: #D9D9D9;
  transform: rotateY(180deg);
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardBackContent {
  text-align: center;
}
}